.heros-section-parent {
  background-image: url(../../Poster.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .hero-left {
    display: flex;
    width: 1400px;
    margin-inline: auto;
    height: 100%;
    gap: 2rem;
    padding-block: 15rem;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    .title {
      h1 {
        font-size: 4.8rem;
        margin-bottom: 0.5rem;
        line-height: 1;
      }
    }

    .imdb-rating {
      display: flex;
      gap: 4rem;
      align-items: center;

      .left-side,
      .right-side {
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 1.2rem;

        .imdb-pic {
          width: 40px;
          height: 20px;
          object-fit: cover;
        }

        .tomato {
          width: 20px;
          height: 20px;
        }
      }
    }

    .content {
      font-size: 1.6rem;
      width: 400px;
      line-height: 1.5;
    }

    .watch-trailer {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1.5rem 3rem;
      background: #be123c;
      color: white;
      display: flex;
      justify-content: center;
      outline: none;
      border: none;
      cursor: pointer;

      .fa-play {
        color: #be123c;
        height: 20px;
        width: 20px;
        background: white;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
      }

      .trailer-text {
        text-transform: capitalize;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 1400px) {
  .heros-section-parent {
    .hero-left {
      width: 1000px;
    }
  }
}

@media (max-width: 1100px) {
  .heros-section-parent {
    .hero-left {
      width: 850px;
    }
  }
}

@media (max-width: 900px) {
  .heros-section-parent {
    .hero-left {
      width: 100%;
      padding-inline: 2rem;
      padding-block: 9rem;
      align-items: center;
      text-align: center;

      .title {
        h1 {
          font-size: 2.5rem;
        }
      }

      .content {
        font-size: 1.4rem;
        width: 100%;
      }

      .watch-trailer {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1.5rem 1rem;
        background: #be123c;
        color: white;
        display: flex;
        justify-content: center;
        outline: none;
        border: none;
        cursor: pointer;

        .fa-play {
          height: 15px;
          width: 15px;
          line-height: 15px;
          font-size: 1rem;
        }

        .trailer-text {
          text-transform: capitalize;
          text-transform: uppercase;
          font-size: 1.4rem;
        }
      }
    }
  }
}
