*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}


html,body{
  overflow-x: hidden;
}

html{
  font-size: 62.5%;
}


section{
  width: 1400px;
  margin-inline: auto;
  padding-block: 7rem;
}